.header-wrapper {
    flex: 2;
}

.header {
    display: flex;
    flex-direction: column;
    min-height: 75dvh;
    align-items: center;
    justify-content:flex-start;

    animation: header 1200ms ease-in-out;
}

.header h1 {
    /* color: var(--theme-primary-dark); */
    font-family: 'Montserrat';
    font-size: 5em;
    /* margin-block: .25em; */
     

}



.secondary {
    color: var(--theme-secondary);
}

@keyframes header {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}